{% extends 'main.html' %}
{% load bootstrap %}

{% block title %}
    {% if new %}
        New Car Form
    {% else %}
        Edit Car Form
    {% endif %}
{% endblock %}

{% block body %}

    <div class="card" style="width: 22rem;">
      <div class="card-body">
          {% if new %}
            <h5 class="card-title">New Car Form</h5>
          {% else %}
            <h5 class="card-title">Edit Car Form</h5>
          {% endif %}

          <form method="post">
              {% csrf_token %}
              {{ form_car|bootstrap }}
              <br>
              {% if new %}
                <a href="{% url 'all_cars' %}" class="btn btn-primary">
                  Back <i class="fas fa-arrow-alt-circle-left"></i></a>
                <button type="submit" class="btn btn-success">Add New Car <i class="fas fa-sign-in-alt"></i></button>
              {% else %}
                <a href="{% url 'all_cars' %}" class="btn btn-primary">
                    Back <i class="fas fa-arrow-alt-circle-left"></i></a>
                <button type="submit" class="btn btn-success">Edit Car <i class="fas fa-sign-in-alt"></i></button>
              {% endif %}
            </form>
      </div>
    </div>

{% endblock %}
