{% extends 'main.html' %}
{% load bootstrap %}

{% block title %} Car Details {% endblock %}

{% block body %}

    <div class="card" style="width: 22rem;">
            <div class="card-body">
              <div class="row">
                  <div class="col-9">
                      <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
                  </div>
              </div>

              <dl class="row">
                  <dt class="col-sm-6">Plates:</dt>
                  <dd class="col-sm-6">{{ car.registration_number }}</dd>

                  <dt class="col-sm-6">Production year:</dt>
                  <dd class="col-sm-6">{{ car.year_of_production }}</dd>

                  <dt class="col-sm-6">Fuel type:</dt>
                  <dd class="col-sm-6">{{ car.fuel_type }}</dd>

                  <dt class="col-sm-6">Mileage:</dt>
                  <dd class="col-sm-6">{{ car.mileage }}</dd>
              </dl>
            </div>

            {% if remove %}
                <a href="{% url 'delete_car' car.id %}" class="btn btn-primary">
                                    Back <i class="fas fa-arrow-alt-circle-left"></i></a>
            {% else %}
                <a href="{% url 'all_cars' %}" class="btn btn-primary">
                                    Back <i class="fas fa-arrow-alt-circle-left"></i></a>
            {% endif %}
    </div>

{% endblock %}
