{% extends 'main.html' %}
{% load bootstrap %}

{% block title %} Cars Managment v1.0 {% endblock %}

{% block body %}

    <div class="jumbotron">
        {% if user.is_authenticated %}
            <h1 class="display-4"> Welcome, {{ user.username }}</h1>
                <a href="{% url 'logout' %}" class="btn btn-success">Logout <i class="fas fa-sign-out-alt"></i></a>
        {% else %}
                <a href="{% url 'login' %}" class="btn btn-success">Login <i class="fas fa-sign-in-alt"></i></a>
        {% endif %}
    </div>
<hr>

    <div>
        {% if user.is_authenticated %}
        <br>
            <a href="{% url 'new_car' %}">New <i class="fas fa-plus-circle"></i></a>
        {% endif %}
    </div>

    {% for car in cars%}
        <div class="card" style="width: 22rem;">
          <div class="card-body">
              <div class="row">
                  <div class="col-9">
                      <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
                  </div>
                  <div class="col-3">
                      {% if user.is_authenticated %}
                            <a href="{% url 'edit_car' car.id %}"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'delete_car' car.id %}"><i class="fas fa-trash-alt"></i></a>
                            <a href="{% url 'show_car' car.id %}"><i class="fas fa-info-circle"></i></a>
                        {% else %}
                            <a href="{% url 'show_car' car.id %}"><i class="fas fa-info-circle"></i></a>
                      {% endif %}
                  </div>
              </div>

              <dl class="row">
                  <dt class="col-sm-6">Plates:</dt>
                  <dd class="col-sm-6">{{ car.registration_number }}</dd>

                  <dt class="col-sm-6">Production year:</dt>
                  <dd class="col-sm-6">{{ car.year_of_production }}</dd>

                  <dt class="col-sm-6">Fuel type:</dt>
                  <dd class="col-sm-6">{{ car.fuel_type }}</dd>

                  <dt class="col-sm-6">Mileage:</dt>
                  <dd class="col-sm-6">{{ car.mileage }}</dd>
              </dl>
          </div>
        </div>
</div>
    {% endfor %}
{% endblock %}