{% extends 'main.html' %}

{% block title %} Car Remove {% endblock %}

{% block body %}

    <div class="card" style="width: 24rem;">
      <div class="card-body">
        <h5 class="card-title">Remove Car</h5>
        <p class="card-text">Are you sure you want to delete "<b>{{ car.registration_number }}</b>"?</p>
          <form method="POST">
            {% csrf_token%}
              <a href="{% url 'all_cars' %}" class="btn btn-primary">
                        Back <i class="fas fa-arrow-alt-circle-left"></i></a>
              <button type="submit" class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></button>
              <a href="{% url 'show_car_plate' car.registration_number %}" class="btn btn-info">
                  Info <i class="fas fa-car"></i></a>
          </form>
      </div>
    </div>

{% endblock %}